body {
    font-family: sans-serif, "roboto";
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.heroandheader {
    display:flex;
    flex-direction:column;
}

.header {
    display:flex;
    flex-direction: row nowrap;
    justify-content: space-around;
}

.headerlogo img[src="images/headerlogo.png"]{
    max-height: 100%;
    max-width: 50px;
}

.links {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    display: block;
}

a:link, a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding:100px;
    gap:50px;
}

.leftitems {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: space-between;
    
}

#heroheader {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    margin:0;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    margin-top: 30px;
}

.herocityimage img[src="images/herocity.png"]{
    max-height: 20%;
    max-width: 500px;
}

.mainsection {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionheader {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.infoheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
} 

.imageswithtext {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 100px;
}

.mainsectionimages {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    outline: thick solid #3882F6;
}

.imagetext {
    color: #1f2937;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.quotesection {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 300px 150px 300px;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    margin-bottom: 30px;
}

.quoteauthor {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    align-self: flex-end;
}

.calltoaction {
    background-color: #F9FAF8;
    display:flex;
    justify-content: stretch;
    align-items: center;
    padding: 50px 200px 50px 200px;
}

.calltoactionbox {
    background-color: #3882F6;
    border-radius: 5px;
    flex-grow: 1;
}

.itemswithinbox {
    padding: 50px;
}

.actiontext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text {
    display:flex;
    justify-content: space-between;
}

.actiontext {
    color:#F9FAF8;
}

.firsttext {
    font-size: 24px;
    font-weight:bolder;
}


.actionsign {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border-color: #F9FAF8;
    border-style: solid;
    } 

.footer {
    display:flex;
    justify-content: center;
    padding: 20px;
}